@media (max-width:950px){
    .showcase{
        .showcase_top{
            img{
                width:108px;
                height:32px;
                left:40px;
            }
            a{
                right:40px;
            }
        }
        .showcase_content{
            top:200px;
            .third_top{
                display:block;
            }
            .third_bottom{
                display: none;
            }
            .fourth{
                max-width:550px;
                .wrap_email{
                    flex-direction: column;
                    .placeholder{
                        top:16px;
                        left:26px;
                    }
                    .input_email{
                        max-width:500px;   
                    }
                    a{
                        margin:2rem auto;
                        font-size:1rem;
                        max-width:200px;
                        padding:0.75rem;
                    }
                }
            }
        }
    }
    .alert_msz{
        max-width:550px;
        padding:0 1.6rem;
        top:-105px;
        left:0;
    }
    .set_box{
        padding:25px 15px;
        .box{
            flex-direction: column;
            text-align: center;
            .left{
                .left_head{
                    font-size:40px;
                }
                .left_text{
                    font-size:20px;
                }
            }
        }
    }
    .set_box{
        .right_update_2{
            .image_container{
                .block{
                    width:80%;
                }
            }
        }
    }
    .story_card{
        .asked_container{
            .heading{
                font-size:40px;
            }
            .asked,.answer_des{
                font-size:20px;
            }
        }
    }
}


@media (max-width:740px){
    .footer{
        padding:50px 25px 0;
        .footer_container{
            .flex_footer{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}

@media (max-width:550px){
    .showcase{
        height:507px;
        .showcase_top{
            img{
                width:86px;
                height:24px;
                left:20px;
                top:25px;
            }
            a{
                right:20px;
                top:25px;
                padding:4px 8px;
            }
        }
        .showcase_content{
            top:120px;
            .first{
                font-size:28px;
                max-width:500px;
                font-weight:600;
                padding:0 20px;
            }
            .second{
                font-size:18px;
                max-width:400px;
            }
            .third_top{
                font-size:18px;
                max-width:400px;
            }
            .fourth{
                .wrap_email{
                    max-width:400px;
                    width:100%;
                    margin:0 auto;
                    .placeholder{
                        top:16px;
                        left:16px;
                    }
                }
            }
        }
    }
    .alert_msz{
        max-width:440px;
        width:100%;
        padding:0 1.2rem;
        top:-105px;
        left:0;
    }
    .set_box{
        .box{
            .left{
                .left_head{
                    font-size:26px;
                }
                .left_text{
                    font-size:18px;
                }
            }
        }
    }
    .set_box{
        .right_update_2{
            .image_container{
                .block{
                    width:80%;
                    top:-80px;
                    .boxshot{
                        width:2.5rem;
                        height:3.5rem;
                    }
                    .stranger_text{
                        margin:auto 2px;
                        .text{
                            font-size:12px;
                        }
                        .download{
                            font-size:10px;
                        }
                    }
                    &:after{
                        right:10px;
                        height:30px;
                        width:30px;
                    }
                }
            }
        }
    }
    .story_card{
        padding:20px 0;
        .asked_container{
            .heading{
                font-size:26px;
            }
            .asked{
                font-size:16px;
                padding:1rem 1.5rem;
            }
            .answer_des{
                font-size:16px;
            }
        }
    }
    .footer{
        .footer_container{
            .flex_footer{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
